body {
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
  }
  h1 {
    color: #0078d7;
  }
  button {
    background-color: #04C971;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  button:hover {
    background-color: #04C971;
  }
  form {
    text-align: left;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  